<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="1663" MadCap:lastWidth="1418">
    <head>
    </head>
    <body>
        <h1>Topic Title</h1>
        <p>Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. Introductory paragraph text. </p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Dropdown Text Header 1</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>These Dropdowns usually take the place of Heading 2s. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. </p>
                <p>
                    <img src="../Resources/Images/placeholder.png" title="gray background placeholder image" style="width: 364px;height: 204px;" />
                </p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Dropdown Text Header 2</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>These Dropdowns usually take the place of Heading 2s. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. Dropdown text. </p>
                <p>
                    <img src="../Resources/Images/placeholder.png" title="gray background placeholder image" style="width: 364px;height: 204px;" />
                </p>
                <ol style="list-style-type: upper-alpha;">
                    <li>Perform this step first.</li>
                    <li>Perform this step second.</li>
                    <li>Perform this step third.</li>
                    <li>Perform this step fourth.</li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <p>Bulleted list:</p>
        <ul>
            <li>unordered list</li>
            <li>unordered list</li>
            <li>unordered list</li>
        </ul>
        <p>Notifications can be placed anywhere on page. We use:</p>
        <div class="notificationImportant">
            <p>text marked 'important' indicates information you need to know for the run or operation to successfully complete <MadCap:variable name="General.ProductName"></MadCap:variable>. </p>
        </div>
        <div class="notificationNote">
            <p>a note includes helpful information that applies to the task you are performing.</p>
        </div>
        <div class="notificationTip">
            <p>a tip includes information that will save time, or make subsequent processes in IFTDSS easier</p>
        </div>
        <div class="notificationComingSoon">
            <p>text here describes features t</p>
        </div>
        <p>&#160;</p>
        <p>&#160;</p>
        <p>&#160;</p>
        <p>&#160;</p>
        <p>&#160;</p>
        <p>&#160;</p>
        <p>&#160;</p>
    </body>
</html>