<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="1283" MadCap:lastWidth="1219">
    <head>
    </head>
    <body>
        <h1>New Topic Template</h1>
        <div class="notificationTip">
            <p>This is a template for a new <MadCap:variable name="General.ProductName" /> help topic. We'll continue with a couple sample paragraphs, headers, and an image, then show examples of other help elements including notifications and other styles.</p>
            <p>If needed, some help pages have a notification at the top or elsewhere in the page. This is not a requirement. </p>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <p>Bulleted list:</p>
        <ul>
            <li>step 1</li>
            <li>step 2</li>
            <li>step 3</li>
        </ul>
        <p>Most images are in line, or floated right, depending on what appears better on the page. </p>
        <p>Images typically have labels, shapes or arrows, in red, and 1 px black border (added in Snagit)</p>
        <p>
            <img src="../Resources/Images/tutorial_1_comparison/tutorial_default_rule.png" alt="The 'edit' interface of the treatment alternative comparison task" style="width: 349px;height: 298px;">
            </img>
        </p>
        <p>
            <img src="../Resources/Images/lcp_gen_smmry/createininterface_mapstudio.png" alt="The 'Create in MapStudio' Button">
            </img>
        </p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>Example of drop-down Text, this bold part will initially be the only part the reader sees until they expand it]</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p>drop-downs have been used in many areas where heading2 would have been used in the IFTDSS 2.0 Help, to offer a lot of material on one page, but in a way that can be summarized at a glance. This was a handy approach for the "about" pages. Help pages whose file names end in "about" and are linked to the IFTDSS application. They appear short initially, you can expand the drop-downs to view additional content as needed.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <h2>Notification styles</h2>
        <div class="notificationImportant">
            <p>text marked "important" indicates information you need to know for the run or operation to successfully complete <MadCap:variable name="General.ProductName"></MadCap:variable>. </p>
        </div>
        <div class="notificationNote">
            <p>a note includes helpful information that applies to the task you are performing.</p>
        </div>
        <div class="notificationTip">
            <p>a tip includes information that will save time, or make subsequent processes in IFTDSS easier</p>
        </div>
        <div class="notificationComingSoon">
            <p>text here describes features that will be added to <MadCap:variable name="General.ProductName"></MadCap:variable> in the near future</p>
        </div>
        <h2>Referring to buttons and parts of <MadCap:variable name="General.ProductName"></MadCap:variable></h2>
        <p><span class="UIcomponent">Specific buttons and Parts of the interface are given the span.UIComponent style</span>
        </p>
        <p>i.e. to upload a shapefile use the <span class="UIcomponent">Shapefile Upload</span> tool.</p>
        <p>Sometimes we refer to parts of <MadCap:variable name="General.ProductName"></MadCap:variable> that aren't buttons, but parts of the application. These typically indicated by capitalization</p>
        <p>i.e. To get started, go to the Landscape Evaluation stage of the Planning Cycle.</p>
    </body>
</html>