<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="427" MadCap:lastWidth="1392">
    <head>
        <link href="../Resources/TableStyles/PatternedRows.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1>Topic Page with Table</h1>
        <p>Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  Introductory paragraph text.  </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/PatternedRows.css');" class="TableStyle-PatternedRows" cellspacing="0">
            <col class="TableStyle-PatternedRows-Column-Regular" style="width: 611px;" />
            <col class="TableStyle-PatternedRows-Column-Regular" />
            <tbody>
                <tr class="TableStyle-PatternedRows-Body-LightRows">
                    <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows" style="font-weight: bold;text-align: center;">Rule</td>
                    <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows" style="font-weight: bold;text-align: center;">Example</td>
                </tr>
                <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows-BodyE-Regular-DarkerRows">
                        <p>Table information.  Table information. Table information. Table information. Table information. </p>
                    </td>
                    <td class="TableStyle-PatternedRows-BodyD-Regular-DarkerRows">
                        <p>Table information. Table information. Table information. Table information. Table information. Table information. Table information. </p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows-Body-LightRows">
                    <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows">
                        <p>Table information. Table information. Table information. Table information. Table information. Table information. Table information. </p>
                    </td>
                    <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows">
                        <p>Table information. Table information. Table information. Table information. Table information. Table information. Table information. Table information. Table information. you would like to replace it with, then use the '+ add row' button to add canopy attributes and specify your chosen values for them. </p>
                    </td>
                </tr>
                <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                    <td class="TableStyle-PatternedRows-BodyB-Regular-DarkerRows">
                        <p>Table information. Table information. Table information. Table information. Table information. Table information. Table information. </p>
                    </td>
                    <td class="TableStyle-PatternedRows-BodyA-Regular-DarkerRows">
                        <p>Table information. Table information. Table information. Table information. Table information. Table information. Table information. Table information. Table information. </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>