/*<meta />*/

p
{
	font-family: Verdana;
	font-size: 11.0pt;
	text-transform: none;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	margin-top: 10pt;
	margin-bottom: 0pt;
}

li.p
{
	font-family: Verdana;
	font-size: 11.0pt;
	text-transform: none;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

h1
{
	font-size: 20.0pt;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-family: "Copperplate Gothic Bold", sans-serif;
	color: #650032;
}

li.h1
{
	font-size: 20.0pt;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-family: "Copperplate Gothic Bold", sans-serif;
	color: #650032;
}

h2
{
	font-family: Tahoma;
	font-size: 14.0pt;
	color: #000000;
	margin-top: 12.0pt;
	margin-bottom: 5pt;
}

li.h2
{
	font-family: Tahoma;
	font-size: 14.0pt;
	color: #000000;
}

p.Table
{
	font-family: Verdana;
	font-size: 10.0pt;
	text-transform: none;
	color: #000000;
}

li.p-Table
{
	font-family: Verdana;
	font-size: 10.0pt;
	text-transform: none;
	color: #000000;
}

body
{
	background-color: #ffffff;
}

h3
{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12.0pt;
	margin-left: 16.0pt;
	margin-top: 12.0pt;
	margin-bottom: 5pt;
}

li.h3
{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12.0pt;
}

span.Code-Command
{
	letter-spacing: normal;
	word-spacing: normal;
	font-family: "Arial Black";
	font-size: 10pt;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

a.dropspot
{
	font-style: italic;
	cursor: hand;
	color: #008000;
}

span.Superscript
{
	vertical-align: super;
	font-size: 8pt;
	font-family: "Arial Narrow", sans-serif;
}

h4
{
	font-size: 16pt;
	font-family: Georgia, serif;
	color: #800000;
	margin-top: 5pt;
	mc-next-tag: h4;
}

li.h4
{
	font-size: 16pt;
	font-family: Georgia, serif;
	color: #800000;
}

p.Monospace
{
	font-family: "Courier New", monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace;
	font-size: 10pt;
}

li.p-Monospace
{
	font-family: "Courier New", monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace;
	font-size: 10pt;
}

h1.SubTitle
{
	color: #650032;
	font-size: 14pt;
	font-family: "Copperplate Gothic Bold", sans-serif;
	margin-top: 5pt;
	margin-bottom: 0pt;
}

li.h1-SubTitle
{
	color: #650032;
	font-size: 14pt;
	font-family: "Copperplate Gothic Bold", sans-serif;
}

a:link
{
	font-size: 11pt;
}

p.Caption
{
	font-size: 10pt;
	margin-top: 3pt;
	text-align: Center;
}

li.p-Caption
{
	font-size: 10pt;
	text-align: Center;
}

li.BulletFM
{
	list-style: disc;
	font-family: Verdana;
	font-size: 11pt;
}

li.NumberedFM
{
	list-style: decimal;
	font-family: Verdana;
	font-size: 11pt;
}

relatedTopics.relatedTopics_1
{
	mc-label: 'Related Topics';
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Arial Black';
}

MadCap|dropDownHotSpot.dropspot
{
	font-style: italic;
	cursor: hand;
	color: #008000;
}

ul.ul_1
{
	list-style: disc;
}

img.img_1
{
	border: none;
}

td.td_1
{
	padding-right: 0px;
	padding-left: 0px;
}

td.td_2
{
	padding-right: 0px;
	padding-left: 10px;
}

tr.tr_1
{
	vertical-align: top;
}

table.table_1
{
	vertical-align: top;
}

td.td_3
{
	padding-right: 10px;
	padding-top: 10px;
}

td.td_4
{
	padding-top: 10px;
	padding-left: 10px;
}

span.span_1
{
	color: #ff0000;
	font-weight: bold;
}

span.span_2
{
	font-style: italic;
}

span.Code-Command_1
{
	letter-spacing: normal;
	word-spacing: normal;
	font-family: "Arial Black";
	font-size: 10pt;
	text-transform: none;
	text-decoration: none;
	color: #ff0000;
}

span.span_3
{
	font-weight: bold;
}

span.span_4
{
	font-family: 'Arial Black';
}

p.p_1
{
	text-align: left;
}

h2.h2_1
{
	text-align: left;
}

p.p_2
{
	margin-bottom: 0;
}

p.p_3
{
	text-align: center;
	margin-bottom: 0;
}

td.td_5
{
	vertical-align: TOP;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

p.p_4
{
	margin-bottom: 0;
	font-size: 10.0pt;
}

span.span_5
{
	font-size: 10.0pt;
}

table.table_2
{
	border-collapse: separate;
	border-collapse: separate;
}

td.td_6
{
	padding-right: 10px;
	padding-left: 10px;
}

td.td_7
{
	border: Solid 0px #000000;
	padding-right: 5px;
	padding-left: 0px;
}

td.td_8
{
	border-top: Solid 0px #000000;
	padding-right: 5px;
	padding-left: 0px;
}

td.td_9
{
	border-top: Solid 0px #000000;
	border-right: Solid 0px #000000;
	padding-right: 0px;
	padding-left: 5px;
}

td.td_10
{
	padding-right: 5px;
	padding-left: 0px;
}

td.td_11
{
	border-right: Solid 0px #000000;
	padding-right: 0px;
	padding-left: 5px;
}

td.td_12
{
	border-bottom: Solid 0px #000000;
	padding-right: 5px;
	padding-left: 0px;
}

td.td_13
{
	border-right: Solid 0px #000000;
	border-bottom: Solid 0px #000000;
	padding-right: 0px;
	padding-left: 5px;
}

td.td_14
{
	border-top: Solid 0px #000000;
	border-right: Solid 0px #000000;
	border-bottom: Solid 0px #000000;
	padding-right: 0px;
	padding-left: 5px;
}

td.td_15
{
	vertical-align: Top;
}

p.p_5
{
	text-align: center;
}

td.td_16
{
	border: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_17
{
	border-top: Solid 1px #000000;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_18
{
	border-left: Solid 1px #000000;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}

td.td_19
{
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}

span.span_6
{
	vertical-align: Super;
}

table.table_3
{
	vertical-align: top;
	margin-top: 8px;
}

ol.ol_1
{
	list-style: decimal;
}

p.p_6
{
	margin-left: 40px;
}

p.p_7
{
	margin-left: 0px;
}

ul.ul_2
{
	list-style: circle;
}

span.span_7
{
	text-decoration: underline;
}

span.span_8
{
	color: #0000ff;
	text-decoration: underline;
}

p.p_8
{
	text-align: left;
	margin-bottom: 0;
}

table.table_4
{
	border-collapse: separate;
	border-collapse: separate;
	margin-left: 0;
	margin-right: auto;
}

p.p_9
{
	font-family: 'Courier New', monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace, monospace;
	font-size: 10pt;
}

span.span_9
{
	font-weight: bold;
	font-style: italic;
}

h3.h3_1
{
	margin-bottom: 0;
}

td.xl232621_1
{
	vertical-align: CENTER;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

p.p_10
{
	text-align: center;
	margin-left: 80px;
}

span.span_10
{
	font-weight: bold;
	font-style: italic;
	font-size: 10.0pt;
}

p.Table_1
{
	font-family: Verdana;
	font-size: 10.0pt;
	text-transform: none;
	color: #000000;
	text-align: center;
	margin-bottom: 0;
}

td.td_20
{
	vertical-align: TOP;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
	border-right-width: 1px;
	border-right-style: Solid;
	border-left-width: 1px;
	border-left-style: Solid;
	border-top-width: 1px;
	border-top-style: Solid;
}

td.td_21
{
	vertical-align: TOP;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
	border-right-width: 1px;
	border-right-style: Solid;
	border-top-width: 1px;
	border-top-style: Solid;
}

p.Table_2
{
	font-family: Verdana;
	font-size: 10.0pt;
	text-transform: none;
	color: #000000;
	margin-bottom: 0;
}

td.td_22
{
	vertical-align: TOP;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
	border-right-width: 1px;
	border-right-style: Solid;
	border-left-width: 1px;
	border-left-style: Solid;
}

td.td_23
{
	vertical-align: TOP;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: Solid;
	border-right-width: 1px;
	border-right-style: Solid;
}

table.table_5
{
	border-left-style: Solid;
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 2px;
	border-bottom-width: 2px;
}

p.p_11
{
	line-height: normal;
	margin-bottom: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: monospace;
}

span.span_11
{
	font-weight: normal;
	font-style: normal;
}

p.p_12
{
	font-weight: bold;
	font-style: italic;
}

p.p_13
{
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: monospace, monospace;
}

span.span_12
{
	font-size: 11.0pt;
}

span.span_13
{
	font-weight: normal;
}

img.img_2
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

p.p_14
{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
}

a.a_1
{
	font-style: normal;
}

p.p_15
{
	margin-top: 0;
	margin-bottom: 0;
	font-style: normal;
}

p.p_16
{
	margin-top: 0;
	font-style: italic;
}

p.p_17
{
	margin-top: 0;
}

span.span_14
{
	color: #800000;
}

p.p_18
{
	margin-bottom: 0;
	font-size: 10.0pt;
	font-style: normal;
}

span.span_15
{
	vertical-align: Super;
	font-size: 8pt;
}

h1.h1_1
{
	margin-top: 3pt;
}

td.td_24
{
	padding-left: 10px;
}

span.span_16
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

td.td_25
{
	padding-left: 10px;
	vertical-align: center;
}

td.td_26
{
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: center;
}

td.td_27
{
	border: Solid 0px #000000;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 0px;
}

td.td_28
{
	border-top: Solid 0px #000000;
	border-right: Solid 0px #000000;
	border-bottom: Solid 0px #000000;
	padding-right: 00px;
	padding-top: 10px;
	padding-left: 0px;
}

td.td_29
{
	border-left: Solid 0px #000000;
	border-right: Solid 0px #000000;
	border-bottom: Solid 0px #000000;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 0px;
}

td.td_30
{
	border-right: Solid 0px #000000;
	border-bottom: Solid 0px #000000;
	padding-right: 00px;
	padding-top: 10px;
	padding-left: 0px;
}

td.td_31
{
	padding-right: 10px;
	padding-left: 0px;
	vertical-align: center;
}

td.td_32
{
	padding-right: 0px;
	padding-top: 10px;
	padding-left: 0px;
}

td.td_33
{
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: center;
}

table.table_6
{
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

td.td_34
{
	padding-right: 0px;
	padding-top: 10px;
}

td.td_35
{
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: center;
}

i.i_1
{
	font-style: normal;
}

p.p_19
{
	font-family: 'Arial Black', sans-serif;
	font-size: 14pt;
	text-align: center;
}

p.p_20
{
	text-align: center;
	font-family: 'Arial Black', sans-serif;
}

p.p_21
{
	font-size: 10pt;
}

p.Table_3
{
	font-family: Verdana;
	font-size: 10.0pt;
	text-transform: none;
	color: #000000;
	font-style: italic;
}

table.table_7
{
	vertical-align: top;
	margin-left: 0;
	margin-right: auto;
}

td.td_36
{
	padding-right: 0px;
	padding-left: 5px;
}

span.span_17
{
	font-family: 'Courier New', monospace;
}

